body {
  background-color: #E2F8FE; /* light color - background*/
  text-color: #142552; /* dark blue - text */
}
a {
  text-color: #1F499E; /* cobalt blue - links */
}
.ingredients {
  background-color: #E2F8FE; /* light color - background*/
  border: 2px solid #83B6EC; /* sky blue - sectioning */
}
