
body {
  background-color: #E0FBFC;
  width: 300px;
  margin: auto;
  font-family: "Open Sans","Ubuntu","Veranda"; /* sans-serif */
}
h1 {
  font-family: "Merriweather","Lora", "Georgia"; /* serif */
}
.ingredients {
  background-color: mintcream;
  border: 2px solid honeydew;
}
.instructions {
  background-color: #A6C9DD;
  border: 2px solid #364259;
}
.recs {
  background-color: ivory;
}
.tips {
  background-color: #F8C2B4;
  border: 3px solid #496B97;  
}
